<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit/{id}(id = ${user.getId()})}" th:object="${user}">
    <label for="name">Enter username</label>
    <input type="text" th:field="*{username}" id="name"/>

    <br/>

    <label for="surname">Enter password</label>
    <input type="text" th:field="*{password}" id="surname"/>

    <br/>

    <label for="age">Enter email</label>
    <input type="text" th:field="*{email}" id="age"/>

    <br/>

    <input type="submit" value="Update">
</form>

<br>
<hr/>

<a th:href="@{/logout}">Logout</a>

</body>
</html>